$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$yellow: #F9EA80;
$decor-yellow: #FFC600;
$font-grey: #B3B3B3;
$light-grey: #EEEEEE;
$footer-grey: #464646;
$green: #91C92F;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;